name: flutter_sum_plugin
description: A simple Flutter plugin that sums two integers on native platforms.
version: 0.1.0
homepage: https://example.com
repository: https://github.com/yourgithub/flutter_sum_plugin
documentation: https://github.com/yourgithub/flutter_sum_plugin#readme
authors:
  - Mohammad Al Sobbahi <mohammad-so2011@hotmail.com>

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: '>=3.10.0'

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.example.flutter_sum_plugin
        pluginClass: FlutterSumPlugin
      ios:
        pluginClass: SwiftFlutterSumPlugin

